---
layout: default
---
<div iclass="page-content wc-container">
	<div class="page-content wc-container">
		<p>
			I have over 10 years of experience building solid software solutions, focusing on the people who will use and maintain them.
			I have worked on a variety of projects, ranging from greenfield initiatives to legacy systems.
			I always try to improve everything I work on, while also being pragmatic and adding value to the company.
			Agile, testing (with TDD) and functional documentation are essential skills in my daily life.
			Currently, I'm working at <a style="font-weight:bold" href="https://europace.de/">Europace</a> as a Senior Java Software Engineer.
		</p>
		{% for post in site.posts %}
			{% capture currentyear %}{{post.date | date: "%Y"}}{% endcapture %}
			{% if currentyear != year %}
				{% unless forloop.first %}</ul>{% endunless %}
					<h5>{{ currentyear }}</h5>
					<ul class="posts">
					{% capture year %}{{currentyear}}{% endcapture %}
				{% endif %}
			<li>
				<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</li>
			{% if forloop.last %}</ul>{% endif %}
	{% endfor %}
	</div>
</div>
