---
layout: default
---
<div iclass="page-content wc-container">
	<div class="page-content wc-container">
		<p>Hi, my name is Mateus and I like to code! I have a passion for building software with quality and creative solutions for who will use and maintain.
      TDD and Clean Code as essential skills in my day to day. Currently I'm working at <a style="font-weight:bold" href="https://www.impero.com">Impero</a> having tons of fun working with Rust.
		</p>
		{% for post in site.posts %}
			{% capture currentyear %}{{post.date | date: "%Y"}}{% endcapture %}
			{% if currentyear != year %}
				{% unless forloop.first %}</ul>{% endunless %}
					<h5>{{ currentyear }}</h5>
					<ul class="posts">
					{% capture year %}{{currentyear}}{% endcapture %}
				{% endif %}
			<li>
				<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</li>
			{% if forloop.last %}</ul>{% endif %}
	{% endfor %}
	</div>
</div>
