<h6>Follow me</h6>

<ul class="social-media">

    <li>
        <a title="{{ site.harmony.social.gplus }}"
           href="mailto: mateuscomp@gmail.com"
           class="google wc-img-replace"></a>
    </li>

    {% if site.harmony.social.twitter %}
    <li>
        <a title="{{ site.harmony.social.twitter }} on Twitter" 
            href="https://twitter.com/{{ site.harmony.social.twitter }}" 
            class="twitter wc-img-replace" target="_blank">Twitter</a>
    </li>   
    {% endif %}

    {% if site.harmony.social.github %}
    <li>
        <a title="{{ site.harmony.social.github }} on Github" 
            href="https://github.com/{{ site.harmony.social.github }}" 
            class="github wc-img-replace" target="_blank">Github</a>
    </li>
    {% endif %}

</ul>
